*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f3f3f3;
padding:30px;
transition:0.3s;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:30px;
}

button{
padding:8px 15px;
border:none;
border-radius:5px;
cursor:pointer;
}

#addBtn{
background:#4CAF50;
color:white;
}

#toggleTheme{
background:#333;
color:white;
}

#notesContainer{
display:grid;
grid-template-columns:repeat(auto-fill,minmax(250px,1fr));
gap:20px;
}

.note{
background:#fff475;
padding:15px;
border-radius:8px;
position:relative;
}

textarea{
width:100%;
height:120px;
border:none;
resize:none;
background:transparent;
outline:none;
}

.delete{
position:absolute;
top:5px;
right:5px;
background:red;
color:white;
}

/* DARK MODE */

.dark{
background:#1e1e1e;
color:white;
}

.dark .note{
background:#2c2c2c;
color:white;
}